.mainPage {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: start;
	justify-content: center;
}

.welcomeText {
	font-size: 48px;
	background-color: rgba(0, 0, 0, 0.639);
	padding: 10px;
	border-radius: 10px;
	user-select: none;
	margin-top: 100px;
}
