.navigation {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #c4c4c4;
}

.navigationLinks {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navigationLink {
	height: 100%;
	text-align: center;
	border-bottom: 2px solid rgb(23, 23, 23);
	padding-bottom: 5px;
	transition: 0.4s;
}

.navigationLink:hover {
	border-bottom-color: white;
}
